/*RESET*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* DEBUG */

.debug section .row {
    height: 400px;
}
.debug section .row > * {
    border: 2px dashed;
}

.debug footer {
    background-color: #23272a;
}

.debug .footer-top {
    border-bottom: 2px solid #fff;
}
.debug .footer-top > .row{
    height: 400px;
    border: 2px dashed;
}
.debug .footer-top .row .col-small {
    background-color: #f08080;
}
.debug .footer-top .col-big {
    background-color: #20b2aa;
}
.debug .footer-top .col-big .col {
    border: 2px dashed white;
}



/*COMMON*/
.container, .hero-text {
    margin: auto;
}
.container {
    max-width: 1200px;
}
.hero-text {
    max-width: 900px;
}
.row {
    display: flex;
}

body{
    font-family: 'Roboto', sans-serif;
}

button{
    padding: 15px;
    margin: 10px;
    border-radius: 40px;
    border: none;
    font-size: 18px;
}

.titolo-sezione{
    padding-top: 40px;
    font-size: 45px;
    padding-bottom: 15px;
}

.info-sezioni{
    font-size: 22px;
}

.blue-bottom{
    margin-top: 30px;
    background-color: #7289DA ;
    color: white;
}
/*HEADER*/
.header-top {
    padding: 16px 0;
    background-color: #255EE9;
}
.header-top .row {
    align-items: center;
}
.logo, .login {
    width: 10%;
    padding: 0 5px;
    
}
.main-nav {
    width: 80%;
}
.main-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}
.main-nav ul li {
    margin: 0 10px;
}
.main-nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px;
}


.hero-immagine {
    padding: 50px 0;
    background-color:#255EE9;
    height: 500px;
}

.hero-text{
    text-align: center;
    color: white;
    padding: 50px;
}

.titolo{
    padding: 30px;
    font-size: 50px;
}

#button-browser{
    background-color: #23272A ;
    color: white;
}

.info-discord{
    font-size: 20px;
    margin-bottom: 10px;
}
/*MAIN*/
section {
    padding: 40px 0;
}
section:nth-child(2n) {
    background-color: #d3d3d3;
}

.col-big {
    width: 60%;
    text-align: center;
}
.col-small {
    width: 40%;
    text-align: left;
}

.container{
    text-align: center;
    
}

.video-chat{
    width: 1000px;
    height: 600px;
}

/*FOOTER*/
.footer-top {
    padding: 10px 0 30px 0;
}
.footer-top .col-small {
    width: 25%;
}
.footer-top .col-big {
    width: 75%;
}
.footer-top .col-big .col {
    width: 25%;
}

.footer-bottom {
    padding-top: 30px;
} 
.footer-bottom .row {
    justify-content: space-between;
    align-items: center;
}
.col ul{
    list-style: none;
}
.col li a{
    justify-content: left;
    display: flex;
    padding: 10px;
    text-decoration: none;
}
 